<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>my first html doc</title>
</head>
<body>
    <h1>Star Wars or Star Trek?</h1>

     <h2>STAR</h2>
      <h3>TREK</h3>

    <p>Team Lighthouse?</p>

    <section>
<article>
    <img src="https://ca.startrek.com/themes/custom/startrekbs/images/star-trek-logo@2x.png
" alt="logo of start trek" width="200"
         height="80"> 
         <div>
    100 likes
    <span>90 comments</span>
  </div>
         
         <p>Star Trek is an American media franchise originating from the 1960s science fiction television series Star Trek, 
         created by Gene Roddenberry. That series, now often known as "The Original Series", debuted on September 8, 1966, 
         and aired for three seasons on NBC.</p>

        <p><a href="https://ca.startrek.com" target="_blank">Star Trek Canada Website </a></p> 

</article>
</section>

   <section>
<article>
    <img src=https://i.etsystatic.com/23861022/r/il/dd56c2/2547572720/il_fullxfull.2547572720_4sx1.jpg
" alt="logo of star wars" width="200"
         height="80"> 
         <div>
    50 likes
    <span>5 comments</span>
  </div>
         
         <p>Star Wars is an American epic space opera media franchise created by George Lucas, 
             which began with the eponymous 1977 film and quickly became a worldwide pop-culture phenomenon.</p>

        <p><a href="https://www.starwars.com/news/lucasfilm-games-interview" target="_blank">Star Wars Website </a></p> 

</article>
</section>
   
         

</body>
</html>
